{% load static %}

<footer class="text-center text-lg-start text-white mt-5" style="background-color: #0A2835;">
    <section class="container d-flex justify-content center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>

    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <a class="navbar-brand" href="/">
                            <div class="row bg-dar">
                                <div class="col-2 text-end bg-ligh" style="padding-right: 0;">
                                    <img src="{% static 'icons/favicon.ico' %}" alt="Blabbing Blogging" height="45px">
                                </div>
                                <div class="col text-start">
                                    <h6>
                                        Blabbing <br> Blogging
                                    </h6>
                                </div>
                            </div>
                        </a>
                    </h6>
                    <p> A vibrant platform where ideas come alive, empowering writers to share stories, insights, and creativity effortlessly. Start Blabbing your thoughts into impactful blogs today!"</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
                    <p><a href="/" class="text-reset">Home</a></p>
                    <p><a href="/register" class="text-reset">Register</a></p>
                    <p><a href="/blog_editor" class="text-reset">Create Blog</a></p>
                    <p><a href="#career" class="text-reset">Career</a></p>
                </div>
                <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Collections</h6>
                    <p><a href="/collections/Mobile" class="text-reset">Mobile</a></p>
                    <p><a href="/collections/Electronics" class="text-reset">Electronics</a></p>
                    <p><a href="/collections/Home%20&%20kitchen" class="text-reset">Home & Kitchen</a></p>
                    <p><a href="/collections/Sports,%20Fitness%20&%20Outdoor" class="text-reset">Sports & Fitness</a>
                    </p>
                    <p><a href="/collections/Clothing%20&%20Accessories" class="text-reset">Cloths & Accessories</a></p>
                </div> -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-map-marker"></i> Blabbing Blogging</p>
                    <p><i class="fa fa-envelope"></i> contact@blab.com</p>
                    <p><i class="fa fa-phone"></i> +91 9786425301</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4">
        &copy; 2024 Copyright <a class="text-reset fw-bold" href="#">BlabbingBlogging</a>
    </div>
</footer>