{% extends '_main.html' %}

{% block title %}
Blabbing | Change Password
{% endblock title %}

{% block body %}

<section class="container main-section">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Change Password</h2>
            <hr style="border: 1px solid rgb(126, 126, 126);">
            {% include '_message.html' %}
        </div>
    </div>

    <!-- Form Section -->
    <section class="container py-4">
        <div class="row">
            <!-- Main Form -->
            <div class="col-md-8 col-lg-6">
               <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label for="{{ form.old_password.id_for_label }}" class="control-label">Current Password</label>
                        <input type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.id_for_label }}" 
                               class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" 
                               value="{{ form.old_password.value|default:'' }}">
                        {% for error in form.old_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="{{ form.new_password1.id_for_label }}" class="control-label">New Password</label>
                        <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" 
                               class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" 
                               value="{{ form.new_password1.value|default:'' }}">
                        {% for error in form.new_password1.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                
                    <div class="form-group mb-5">
                        <label for="{{ form.new_password2.id_for_label }}" class="control-label">Confirm New Password</label>
                        <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" 
                               class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" 
                               value="{{ form.new_password2.value|default:'' }}">
                        {% for error in form.new_password2.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
</section>

{% endblock body %}