{% extends '_main.html' %}

{% block title %}
    Blabbing | Reset Password
{% endblock title %}

{% block body %}

<section class="container main-section">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Reset Password</h2>
            <hr style="border: 1px solid rgb(126, 126, 126);">
            {% include '_message.html' %}
        </div>
    </div>

    <!-- Reset password form -->
    <section class="container py-4">
        <div class="row text-center">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <!-- <p>Enter your email address and we'll send you a link to reset your password.</p> -->
                        <label for="" class="form-label m-3">Registered Email address:</label>
                        {{form.email}}
                    </div>
                    <button class="btn btn-primary" type="submit">Send Reset link</button>
                    <a class="btn btn-primary" href="/login">Cancel</a>
                </form>
            </div>
        </div>
    </section>

</section>

{% endblock body %}