{% extends '_main.html' %}

{% block title %}
Blabbing | Reset password
{% endblock title %}

{% block body %}

<section class="container main-section">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Reset Password</h2>
            <hr style="border: 1px solid rgb(126, 126, 126);">
            {% include '_message.html' %}
        </div>
    </div>

    <!-- Main section -->
    <section class="container py-4">
        <div class="row text-center">
            <div class="col-12">
                <h5>Your password has been reset successfully. <br>Now you can <a href="{% url 'login' %}">login</a>.</h5>
            </div>
        </div>
    </section>

</section>

{% endblock body %}

