{% extends '_main.html' %}

{% block title %}
Blabbing | Reset Link
{% endblock title %}

{% block body %}

<section class="container main-section">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-3">Reset Link</h2>
            <hr style="border: 1px solid rgb(126, 126, 126);">
            {% include '_message.html' %}
        </div>
    </div>

    <!-- Main section -->
    <section class="container py-4">
        <div class="row text-center">
            <div class="col-12">
                <h5>Check your Inbox. <br> An email has been sent with instructions to reset your password.</h5>
                <h6 class="text-muted"><b>NOTE:</b> Mail has been sent only if you have already Registered with the email address</h6>
            </div>
        </div>
    </section>

</section>

{% endblock body %}